* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color-scheme: dark light;
  color: #efece3;
  height: 100%;

  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  width: calc(100% -70px);
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  margin-inline: clamp(1.5rem, 4.3vw, 5rem);
  margin-block: 30px;
}

/* header section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: clamp(1.5rem, 4.3vw, 5rem);
  padding-block: 20px;
  /* border: 1px solid white; */
}

.nav-menu-toggler {
  display: none;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-wrapper a {
  text-decoration: none;
  font-size: clamp(1.1rem, 1.5vw, 3rem);
  font-weight: 900;
  color: white;
}

.logo-wrapper img {
  height: clamp(2rem, 3.5vw, 5rem);
}

nav {
  display: flex;
  gap: 10px;
}

.nav-menu {
  text-decoration: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 0.9rem;
  color: white;
  transition: colors 2s linear;
}

.nav-menu:hover {
  background-color: rgb(65, 95, 116);
}

.active-nav-menu {
  background: rgb(8, 118, 161);
}

header .nav-btn {
  border: 0.1px solid rgb(144, 140, 140);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
}

header .nav-btn a {
  text-decoration: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 0.9rem;
}

header .nav-btn a:hover {
  background-color: rgb(94, 41, 41);
}

.nav-btn-active {
  background-color: rgb(66, 33, 33);
}

/* moblie nav menu styling section */
.mobile-nav-menu {
  border-left: 0.1px solid rgb(155, 153, 153);
  background: #000;
  /* opacity: 0.9; */
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 60%;
  height: 100dvh;
  overflow-y: scroll;
  display: none;
}

.open-nav-menu {
  display: block;
}

.mobile-nav-menu .sec-a {
  display: flex;
  justify-content: space-between;
  background: rgb(91, 5, 99);
  position: relative;
}

.mobile-nav-menu .sec-a p {
  font-size: 1.2rem;
  text-align: center;
  flex-grow: 1;
  padding-block: 50px;
  border-bottom: 2px solid rgb(66, 4, 4);
}

.mobile-nav-menu .sec-a svg {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-nav-menu .sec-b {
}

.mobile-nav-menu .sec-b a,
.mobile-nav-menu .sec-c a {
  text-decoration: none;
  border-left: 3px solid transparent;
  color: inherit;
  display: block;
  text-align: left;
  padding: 10px 30px;

  font-weight: 500;
  font-size: 0.8rem;
}

.m-nav-menu-active-item {
  background-color: rgb(31, 124, 161);
}

.mobile-nav-menu .sec-c {
}

.mobile-nav-menu .sec-c a {
}
.sec-title {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 10px;
  color: rgb(181, 73, 23);
  background-color: rgb(40, 2, 51);
  color: white;
}

.mobile-nav-menu > div > a:hover {
  border-left: 3px solid purple;
  background-color: rgb(247, 8, 247);
  color: white;
}

.mobile-logo-wrapper {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  border-top: 1px solid rgb(61, 64, 64);
  padding: 20px;
}

.mobile-logo-wrapper a {
  font-size: 1rem;
  text-align: center;
}

.mobile-logo-wrapper img {
  height: 1.5rem;
}

/* footer section */
footer {
  padding: clamp(1.5rem, 4.3vw, 5rem);
  background-color: black;
}

footer .top-sec {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
  gap: 50px;
}

.ft-a {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.ft-a a img {
  height: 5rem;
}

.logo-txt-footer {
  font-weight: 700;
  font-size: 1.5rem;
}

.logo-txt-footer span::first-letter {
  color: yellow;
}

.desc-txt-footer p {
  margin-bottom: 5px;
}

.dev-kant-kumar {
  text-decoration: none;
  color: #f25912;
  font-weight: 500;
  cursor: pointer;
}
.dev-kant-kumar:hover {
  text-decoration: 0.2px solid white underline;
  transform: all 0.2s linear;
}

.social-link-wrapper-footer p {
  font-weight: 800;
  font-size: 15px;
  margin-bottom: 20px;
}

.social-link-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.social-link-footer a {
  text-decoration: none;
  border: 2px solid #161120;
  border-radius: 10px;
  padding: 10px;
  background-color: #1b112e;
  color: white;
}

.ft-b p,
.ft-c .cate-title {
  font-size: 20px;
  font-weight: 500;
  margin-block-end: 30px;
}

.ft-b div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ft-b div a {
  display: block;
  text-decoration: none;
  color: #7442d1;
  font-weight: 400;
  font-size: 18px;
}
.ft-b div a:hover {
  transition: color 0.2s linear;
  color: #8855e7;
}

.git-footer {
  background: rgb(20, 19, 19);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(42, 41, 41);
  margin-bottom: 25px;
}

.git-footer-a p {
  font-weight: 600;
  margin-bottom: 10px;
}

.git-footer-b a {
  text-decoration: none;
  color: inherit;
}

footer hr {
  margin-block: 20px;
  border: 0.1px solid rgb(172, 168, 168);
}

footer .bottom-sec {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  gap: 50px;
}

footer .legal-pages-links {
  display: flex;
  gap: 15px;
}

footer .legal-pages-links a {
  text-decoration: none;
}

.footer-heart-icon {
  color: red;
}

@media (max-width: 768px) {
  header section nav,
  header .nav-btn {
    display: none;
  }

  .nav-menu-toggler {
    display: block;
  }
}
